@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");

@import "tailwindcss";


@theme {
  --color-primary-deep: rgb(20,71,230);
  --color-custom-title: #2A2B3F;
  --color-custom-text: #595673;
  /*--color-custom-red: #ff4b4a;
  --color-custom-gold: #ffcd67; */
}


ody {
    
}

.bg-img{
    background-image: url("/public/images/new_health-img.jpg");
}


.bg-slide1{
    background-image: url("/public/images/bg-shape1.png");
}

.course-img {
    background-image: url("/public/images/about2.jpg");
}
.primary-btn {
  @apply bg-primary-deep text-white hover:scale-110 ease-in duration-200 rounded-md cursor-pointer;
}