@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-deep: rgb(20, 71, 230);
  --color-custom-title: #2a2b3f;
  --color-custom-text: #595673;
  /*--color-custom-red: #ff4b4a;
  --color-custom-gold: #ffcd67; */
}

html {
  scroll-behavior: smooth;
  font-family: "Google Sans Flex", serif;
  font-weight: 300;
  font-style: normal;
}

body {
  @apply overflow-x-hidden;
}

.bg-img {
  background-image: url("/public/images/new_health-img.jpg");
}

.bg-slide1 {
  background-image: url("/public/images/bg-shape1.png");
}

.course-img {
  background-image: url("/public/images/about2.jpg");
}
.primary-btn {
  @apply bg-primary-deep text-white hover:scale-110 ease-in duration-200 rounded-md cursor-pointer;
}

.container {
  @apply max-w-[1300px]  mx-auto;
}
